{% extends "posts/base.html" %}
{% load share_encode_link %}
{% load truncate %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock head_title %}


{% block content %}
<div class="container-fluid">
<div class="jumbotron" style="background-color: white">
    <h1 class="text-center">{{ title }} <small>
    {% if instance.user.get_full_name %}
    <p class="text-center"><small>Author </small><strong>{{ instance.user.get_full_name }}</strong</p>
    {% endif %}
    <p class="text-center">{% if instance.publish %}<span style="color:green">Future post</span>--{% endif %} {{ instance.publish }}</small></h1><hr></p>
    <p class="text-center">{% if instance.draft %}<span style="color:red">Draft</span>{% endif %}</p>

    {% if instance.image %}
    <img style="margin-bottom: 50px; margin: 0 auto; center;" src="{{ instance.image.url }}" class="img-responsive" />
    {% endif %}
    <div class="row">
        <div class="col-sm-12 content-markdown" style="font-style: sans-serif; margin-top: 20px; margin-left: 10px; margin-right: 10px">
            {{ instance.content|safe }}
        </div>
    </div>
            <hr>
    <div class="fb-like"  data-width="100%" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br/>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">facebook</a>/
    <a href="https://twitter.com/home?status={{ instance.content|truncate:5|urlify }}%20{{ request.build_absolute_uri }}">Twitter</a>/
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}/&title={{ instance.title }}&summary={{ quote_tag }}&source={{ request.build_absolute_uri }}/">Linkedin</a>/
    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">google+</a>/
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}/&title={{ instance.title }}">Reddit</a>



<div class="fb-comments"  data-width="100%" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>
</div>
</div>
{% endblock content %}