{% extends 'posts/base.html' %}

{% block content %}

<h1 class="text-center">{{ title }}</h1> 

   {% if not instance.GET.get.q %}{{ request.GEt.q }}{% endif %}
        {% for obj in instance %}
                <!--<div class="thumbnail">
                        {% if obj.image %}
                        <img src="{{ obj.image.url }}" class="img-responsive" />
                        {% endif %}
                </div>-->
 
        <div class="container">
            <div class="col-sm-12">
                    <div class="jumbotron" style="background-color: white">
                        <h3><strong style="font-size: 50px;font-family:Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</strong>
                            <p style="font-weight:300;">{{ obj.content|truncatechars:50 }}<br/></p></a>
                                <small>{% if obj.draft %}staff only:<span style="color:red">Draft </span>{% endif %}
                                {% if obj.publish %} staff only:<span style="color:green">Future post</span> {% endif %}</small></p>
                                {% if obj.user.get_full_name %}
                                <small>posted by <strong>{{ obj.user.get_full_name }}</strong> on <small>{{ obj.stamptime }}, {{ obj.stamptime|timesince }} ago</small>
                                {% endif %}</p>
                                <hr>
                    </div>
                </div>
         </div>
            
            {% endfor %}


{% if  instance.paginator %}
<div class="pagination text-center" style="margin-left: 50px">
           <ul class="pager">
    <span class="pager">
 

        {% if instance.has_previous %}
            <li class="previous"> <a href="?{{ page_request_var }}={{ instance.previous_page_number }}{% if instance.GET.get.q %}{{ request.GEt.q }}{% endif %}">previous</a></li>
        {% endif %}

        <span class="current">
            {% if instance.next_page_number > 1 %}<strong>Page {{ instance.number }} of {{ instance.paginator.num_pages }}</strong>{% endif %}
        </span>

        {% if instance.has_next %}
            <li class="next"><a href="?{{ page_request_var }}={{ instance.next_page_number }}{% if instance.GET.get.q %}{{ request.GEt.q }}{% endif %}">next</a></li>
        {% endif %}
        
    </span>
    </ul>
</div>

</div>
</div>
{% endif %}


{% endblock content %}