{% extends "posts/base.html" %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock head_title %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive" />
    {% endif %}
{{ quote_tag }}
    <h1>{{ title }} <small>{{ instance.stamptime }}</small></h1><hr>
    {{ instance.content|linebreaks|truncatewords:120 }}<br/>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">facebook</a>/
    <a href="https://twitter.com/home?status={{ quote_tag }}%20{{ request.build_absolute_uri }}">Twitter</a>/
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.bbuild_absolute_uri }}/&title={{ instance.title }}&summary={{ quote_tag }}&source={{ request.build_absolute_uri }}/">Linkedin</a>/
    <a href="https://plus.google.com/share?url=http://your-domain{{ request.get_absolute_uri }}">google+</a>/
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}/&title={{ instance.title }}">Reddit</a>




</div>
{% endblock content %}